// responsive breakpoints:
$miniMobile: 150px;
$smallMobile: 320px;
$Mobile: 481px;
$tablet: 769px;
$smallDesktop: 1025px;
$desktop: 1201px;
$largeDesktop: 2200px;

$textWhite: #f8f4f4;
$lightShade: #a8a39d;
$lightAccent: #c4b29c;
$mainBrandColor: #7d6b59;
$mainBrandColorRgba: rgba(125, 107, 89, 1);
$darkAccent: #1e4972;
$darkShade: #0a1724;
$brandBlack: #191919;
$success: #5ea25d;
$warning: #db9225;
$danger: #ff5733;
